.weatherItem {
	padding: 0.8em;
	text-align: left;
}
#weather { margin:auto;}
.weatherCity { text-transform: uppercase; }
.weatherTemp {
	font-size: 2.8em;
	font-weight: bold;
	margin:10px 0;
}
.weatherDesc, .weatherCity, .weatherForecastDay  { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; }
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem { font-size:12px;}
.weatherLink, .weatherForecastItem {margin-bottom: 0.5em;text-align: left;}
.weatherLink a {
	display:block;
	clear:both;
	padding-top:10px;
}
.weatherForecastItem {
	padding: 10px 10px 10px 80px;
	background-position: left center;
	width:100%;
	border: 1px solid #ededed;
}
.weatherForecastDay { font-size:14px; display:inline; margin-right:5px;}
.odd { }
.even { background-color: #d4d4e8; }
.weatherItem.odd {width:100%; padding-left:200px; background: #f2f8fb; 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
	/* Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)"; margin-right:60px; margin-bottom:15px; }
.weatherForecast{ width:100%;}
.weatherForecastDate, .weatherForecastText, .weatherForecastRange{ display:inline; margin-right:15px; }


/* Mobile portrait */
@media (max-width: 480px) {

.weatherForecastText, .weatherForecastRange{ display:block; }
.weatherItem.odd  {width:100%;margin-right:0;}

}

